@import "tailwindcss";

:root {
  --background: #252422;
  --foreground: #fffcf2;
  --c1: #ccc5b9;
  --c2: #403d39;
  --c3: #eb5e28;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto;
}
h1 {
  color: var(--c3);
  font-size: 90px;
}
h4 {
  color: var(--foreground);
  font-size: 20px;
  text-align: left;
}
